@using PhotographyWebAppCore.Models
@model List<PhotoCategory>

<h1>类型</h1>

<h4 class="float-left mt-1">当前所有类型</h4>
<div class="text-right pt-0">
    <a asp-action="CreateOne" class="btn btn-primary text-center">+ 创建新类型</a>
</div>
<hr />
@if (Model != null && Model.Count() > 0)
{
    @foreach (PhotoCategory category in Model)
    {
        <div class="col-md-10 mx-auto">
            <div class="card text-center my-5">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item mx-1">
                            <form method="get">
                                <button class="btn btn-outline-primary btn-sm" name="id" value="@category.Id" asp-action="UpdateById">编辑</button>
                            </form>
                        </li>
                        <li class="nav-item mx-1">
                            <form method="post">
                                <button class="btn btn-outline-danger btn-sm" name="id" value="@category.Id" asp-action="DeleteById">删除</button>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="card-body row">
                    <div class="col-md-4">
                        @{
                            string coverPath;
                            if (category.CoverPhotoId == null)
                            {
                                coverPath = "/images/image-placeholder.jpg";
                            }
                            else
                            {
                                coverPath = "/" + category.CoverPhoto.Path_Middle;
                            }
                        }
                        <img src="@coverPath" class="img-fluid" />
                    </div>
                    <div class="col-md-8">
                        @if (category.BackgroundImage != null)
                        {
                            <div class="as-background-wrapper">
                                <img src="/@category.BackgroundImage.Path_Big" class="as-background" />
                            </div>

                        }
                        <div class="position-relative" >
                            <h5 class="card-title">@category.Name</h5>
                            <p class="card-text text-left">@category.Description</p>
                            @{
                                int albumCount = 0;
                                if (category.Albums != null)
                                {
                                    albumCount = category.Albums.Count();
                                }
                            }
                            <p class="card-text text-left my-0"><small class="text-muted">相册数量：@albumCount</small></p>
                        </div>
                    </div>
                </div>
                @if (albumCount > 0)
                {

                    <div class="card-footer">
                        <div class="row flex-row flex-nowrap overflow-auto">
                            @foreach (Album album in category.Albums)
                            {
                                <div class="col-2 px-1">
                                    <a asp-controller="AdminAlbum" asp-action="Index" asp-fragment="album_@(album.Id)">
                                        <img src="/@album.CoverPhoto.Path_Small" class="img-thumbnail" />
                                        <p class="mb-0">@album.Title</p>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>

                }
            </div>
        </div>
    }
}

