@model PhotographyWebAppCore.Models.PhotoCategory

@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>类型</h1>

<h4>修改类型</h4>
<hr />
<div class="row">
    <div class="col-md-10 mx-auto">
        @if (ViewBag.IsSuccess == true)
        {
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">修改成功！</h4>
                <p><a asp-action="Index">点击此处</a> 返回类型列表</p>
            </div>
        }
    <form asp-action="UpdateById">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Id" hidden />
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CoverPhotoId" class="control-label"></label>
            <div class="row flex-row flex-nowrap overflow-auto mx-1">
                @foreach (Photo photo in ViewBag.Photos)
                {
                    <label class="col-2 px-1 position-relative select-image">
                        <div class="custom-control custom-radio position-absolute">
                            <input type="radio" class="position-absolute custom-control-input" value="@photo.Id" asp-for="CoverPhotoId" id="@photo.Id" />
                            <label class="custom-control-label" for="@photo.Id"></label>
                        </div>
                        <img src="/@photo.Path_Small" class="img-thumbnail" />
                    </label>
                }
            </div>
            <span asp-validation-for="CoverPhotoId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BackgroundImageId" class="control-label"></label>
            <div class="row flex-row flex-nowrap overflow-auto mx-1">
                @foreach (Photo photo in ViewBag.Photos)
                {
                    <label class="col-2 px-1 position-relative select-image">
                        <div class="custom-control custom-radio position-absolute">
                            <input type="radio" class="position-absolute custom-control-input" value="@photo.Id" asp-for="BackgroundImageId" id="@photo.Id" />
                            <label class="custom-control-label" for="@photo.Id"></label>
                        </div>
                        <img src="/@photo.Path_Small" class="img-thumbnail" />
                    </label>
                }
            </div>
            <span asp-validation-for="BackgroundImageId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="保存" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-danger">取消</a>
        </div>
    </form>
    </div>
</div>

