@using PhotographyWebAppCore.ViewModels;
@model PhotoUploadViewModel
@{
    ViewData["Title"] = "AddPhotos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h1>照片</h1>

<h4>添加照片</h4>
<hr />
<div class="row">
    <div class="col-md-10 mx-auto">
        <form asp-action="AddPhotos" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>选择文件</label>
                <div class="custom-file">
                    @*<input name="files" class="custom-file-input" id="customFile" type="file" multiple />*@
                    <input asp-for="@Model.Files" class="custom-file-input" id="customFile" type="file" multiple required />
                    <label class="custom-file-label" for="customFile">上传文件</label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">指定相册</label>
                <select asp-for="@Model.AlbumId" class="form-control" asp-items="@ViewBag.Albums">
                    <option value="">---未指定相册---</option>
                </select>
                <span asp-validation-for="@Model.AlbumId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">指定摄影师</label>
                <select asp-for="@Model.PhotographerId" class="form-control" asp-items="@ViewBag.Photographers">
                    <option value="">---未指定摄影师---</option>
                </select>
                <span asp-validation-for="@Model.PhotographerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="上传" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">取消</a>
            </div>
        </form>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileLabel = $(this).next('.custom-file-label');
                var files = $(this)[0].files;
                if (files.length > 1) {
                    fileLabel.html('已选择了：' + files.length + '个文件');
                }
                else if(files.length == 1){
                    fileLabel.html(files[0].name);
                }
            });
        });
    </script>
}